/* PPP Configurator base styles */
#ppp-configurator-app,
#app {
  background: #1f1f1f;
  min-height: 80vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div:fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}
